@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,200&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hamburger */
.burger > span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  border-radius: 3px;

  z-index: 1;
}

/* header */

#header {
    min-width: 100%;    
    background: #FF7800;
    padding: 0 1.3rem;
    margin-bottom: 1.5rem;
    position: fixed;
    top: 0;
}


/* navbar */
#nav-bar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



.services {
    display:none;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .services {
        display: block;
    }

    .burger {
        display: none;
    }
}

.nav-link {
    text-decoration: none;
    color: #000;
    margin-right: 0.5rem;
}


#header-img {
    width: 100px;
}

/* Content */

.content {
    margin-top: 5rem;
    padding: 1.5rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Content introduction */


.content__introduction {
    text-align: justify;
}


.content__introduction h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .content__introduction {
        width: 700px;
    }
    .content__introduction h1 {
        font-size: 4rem;
    }

    .content__introduction p {
        font-size: 1.5rem;
    }
}

/* Form */

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: #FFBC97;
    width: 100%;
}

.form-group {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group > label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .form-group > label {
        font-size: 2rem;
    }

    .form-group > input {
        width: 300px;
        height: 40px;
        text-align: center;
        font-size: 1.5rem;
    }  
}


/* Input btn */

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    background: #FF7800;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* video */

@media screen and (max-width: 640px) {
    iframe {
        max-width: 100%;
        height: auto;
    }
}



/* Content product */

.content__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.card {
    border: 0.1rem solid #FF7800;
    text-align: center;
}

.card__description > li {
    list-style-type: none ;
}

.card__img {
    max-width: 100%;
}

@media (min-width: 768px) {
    .content__products {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card h1 {
        font-size: 2.5rem;
    }

    .card__description {
        font-size: 1.5rem;
    }

    .card__img {
        max-width: 400px;
    }
    
}
/* Footer */

.footer__contact {
    text-align: center;
    background-color: #2C272E;
    color:white;
    width: 100vw;
    padding: 0 1.3rem;
}

@media (min-width: 768px) {
    .footer__contact {
        font-size: 1.5rem;
    }
}   
