@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b705c;
    opacity: 0.8;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #a5a58d 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #a5a58d 25%, #6b705c 25%) 0px 0/ 20px 20px;
}


.header {
  text-align: center;
  padding: 1rem;
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    font-size: 1rem;
  }
}

.container {
   font-size: 2rem;
}

#survey-form {
  display: flex;
  flex-direction: column;
  background-color: #a5a58d;
  opacity: 1;
  padding: 2rem;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}



label > input[type="radio"] {
  font-size: 10px;
}

#checkbox-label {
  margin-bottom: 1rem;
}

.input-textarea {
  width: 100%;
  height: 70px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-style: none;
  background-color: #6b705c;
  padding: 1rem;
  cursor: pointer;
}

input[type='text'], input[type='email'], input[type='text'] {
  width: 100%;
}



@media (max-width: 768px) {
  #survey-form {
    margin: 2rem;
  }
}
